{%  load  static %}
<div class="inner met_flash"><div class="flash">
<a href='#' target='_blank' title='企业网站管理系统'><img src='{% static "images/1342430358.jpg" %}' width='980' alt='企业网站管理系统' height='90'></a>
</div></div>


<div class="sidebar inner">
    <div class="sb_nav">

			<h3 class='title myCorner' data-corner='top 5px'>新闻资讯</h3>
<div class="active" id="sidebar" data-csnow="2" data-class3="0" data-jsok="2">
<dl class="list-none navnow"><dt id='part2_4'><a href='#'  title='公司动态' class="zm"><span>公司动态</span></a></dt></dl>
<dl class="list-none navnow"><dt id='part2_5'><a href='#'  title='业界资讯' class="zm"><span>业界资讯</span></a></dt></dl>
<div class="clear"></div></div>

			<h3 class='title line myCorner' data-corner='top 5px'>联系方式</h3>
			<div class="active editor"><div>
	请在<strong>后台-内容管理-备用字段</strong>中修改此段文字</div>
<div>
	某某有限公司</div>
<div>
	电 &nbsp;话：0000-888888</div>
<div>
	邮 &nbsp;编：000000</div>
<div>
	Email：admin@admin.cn</div>
<div>
	网 &nbsp;址：www.xxxxx.cn</div>
<div class="clear"></div></div>
    </div>
    <div class="sb_box">
	    <h3 class="title">
						<div class="position">当前位置：<a href="http://demo.metinfo.cn/" title="网站首页">网站首页</a> &gt; <a href={{ nav_href }}>{{ nav_name }}</a> ></div>
			<span>{{ nav_name }}</span>		</h3>
		<div class="clear"></div>